body {
  background-color: #EDEAD0;
  font-family: 'Arial', sans-serif;
  color: #333;
  padding: 20px;
}

h1 {
  color: #081223;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  border-radius: 12px;
}

<section id="Storia">
<h2>Storia</h2>
  <p>La Valle del Belice è localizzata nella parte nord-occidentale della Sicilia e viene delimitata tra le province di Trapani, Agrigento e Palermo; ha origini antichissime, risalenti al I e II millennio a.C., e, chiaramente, ha ospitato diversi popoli ed è stata fondamenta per diverse culture. Ma purtroppo, tra il 15 e il 16 gennaio del 1968, questo luogo è stato segnato da un impronta indelebile, un violento sisma ha portato alla luce ingenti danni e ha raso al suolo diverse città,tra cui, proprio Gibellina.</p>
<p>Per comprendere meglio la rinascita artistica che ha avuto Gibellina dopo la tragedia è necessario nominare Ludovico Corrao, sindaco, ai tempi, di Gibellina, che ha reso possibile tutto questo. Grazie alla sua determinazione in Sicilia sono giunti svariati artisti contemporanei per contribuire alla sfida a loro presentata: "sogno, per Gibellina, di una ricostruzione in nome dell'arte e della bellezza."
Inoltre, Corrao è stato anche fondatore di due istituzioni culturali: nel 1980 inaugurò il MAC, ovvero il Museo civico d'Arte Contemporanea, distante 11km dalla nuova città, e, successivamente, nel 1992 Corrao istituì la fondazione Orestiadi - Istituto di Alta Cultura Orestiadi Onlus che comprende il Museo delle Trame del mediterraneo, situato all'entrata della città.</p>

section#storia {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  margin: 20px 0;
}

section#storia p {
  line-height: 1.6;
  margin-bottom: 15px;
}

section#storia h2 {
  margin-bottom: 10px;
  text-align: center;
}

nav {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  maegn: 0 15px;
}

nav a {
  margin: 0 10px;
  text-decoration: underline;
  color: 595959;
  font-weight: bold;
}
